body {
    counter-reset: heading;
}

* {
    margin: 0;
}

.header {
    height: 6vh;
    box-shadow: inset 0 -4px 10px rgba(0, 255, 255, .5);
    display: flex;
    justify-content: space-between;
}

.company_name {
    box-sizing: border-box;
    padding: 10px 0 0 35px;
    color: black;
    font-size: 30px;
    text-shadow: 2px 1px aqua;
    justify-content: flex-start;
}

.nav_block {
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 40px;
    justify-content: flex-end;

}

.navigation {
    text-decoration: underline;
    color: black;
    padding: 15px 15px 0 30px;
    transition: opacity 0.1s;
}

.logout{
    font-weight: bolder;
    color: #d9094d;
}

.navigation:hover {
    opacity: 0.5;
}

.container {
    color: black;
    font-size: 20px;
    height: 100%;
    min-height: 94vh;
    text-align: center;
    box-sizing: content-box;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form-control {
    margin-top: 10px;
    display: inline-block;
    width: 100vh;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, .7);
    box-sizing: content-box;
}

.submit {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    height: 25px;
    width: 70px;
    font-size: large;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 10px;
    transition: opacity 0.1s;
}

.table {
    display: inline-block;
    margin: auto;
}

.table_sort {
    border-collapse: collapse;
    display: inline-block;
    margin: auto;
}

.table_sort th {
    color: #ffebcd;
    background: #008b8b;
    cursor: pointer;
}

.table_sort td,
.table_sort th {
    width: 190px;
    height: 40px;
    text-align: center;
    border: 2px solid #846868;
}

.table_sort tbody tr:nth-child(even) {
    background: #e3e3e3;
}

.sort-up::after {
	content: "▲"
}

.sort-down::after {
	content: "▼"
}
.footer {
    height: 70px;
    background-color: black;
    color: white;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}

/*  -----------------------  login.html  ----------------------- */

.login_template{
    background-color: #a49d95;
}

.border{
    display: inline-block;
    height: 200px;
    width: 500px;
    background-color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.login_form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login_btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 25px;
    width: 80px;
    font-size: large;
    background-color: #30b78c;
    border-color: #30b78c;
    border-radius: 10px;
    transition: opacity 0.1s;
    margin-top: 10px;
}

.text{
    text-align: center;
}

.name{
    padding-bottom: 10px;
}


