<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>
<body class="login_template">
    <div class="border">
        <div class="login_form">
            <h2 class="text name">Log in to your account</h2>
            <form method="post">
                {% csrf_token %}
                <h2 class="text">Name</h2>
                <div class="text"> {{ form.name }}
                <h2 class="text">Password</h2>
                <div class="text"> {{ form.password }} </div>
                <button type="submit" class="login_btn">Log in</button>
            </form><br>
            {{ invalid_data }}
        </div>
    </div>
</body>
</html>
