{% extends 'base.html' %}
{% block title %}
    View Table
{% endblock %}
{% block script %}
{#<script>#}
{#document.addEventListener('DOMContentLoaded', () => {#}
{##}
{#    const getSort = ({ target }) => {#}
{#        const order = (target.dataset.order = -(target.dataset.order || -1));#}
{#        const index = [...target.parentNode.cells].indexOf(target);#}
{#        const collator = new Intl.Collator(['en', 'ru'], { numeric: true });#}
{#        const comparator = (index, order) => (a, b) => order * collator.compare(#}
{#            a.children[index].innerHTML,#}
{#            b.children[index].innerHTML#}
{#        );#}
{##}
{#        for(const tBody of target.closest('table').tBodies)#}
{#            tBody.append(...[...tBody.rows].sort(comparator(index, order)));#}
{##}
{#        for(const cell of target.parentNode.cells)#}
{#            cell.classList.toggle('sorted', cell === target);#}
{#    };#}
{##}
{#    document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));#}
{# });#}
{#</script>#}
<script>
function submit_sort(sort) {
    document.getElementById('filter_books__sort').value = sort;
    document.filter_books.submit();
}
</script>

{% endblock %}
{% block content %}
   <form method="get" name="filter_books">
        <h6 class="table">Author</h6>{{ form.author }}
        <h6 class="table">Birth of author</h6>{{ form.birth_year }}
        <h6 class="table">Year of book</h6>{{ form.year_of_book }}
        <h6 class="table">Book title</h6>{{form.name_of_book }}
        <input type="hidden" name="sort" id="filter_books__sort">
        <input type="submit" value="submit" class="submit">
   </form>
    <div>
    {% if books %}
    <table class="table_sort" id="table_sort">
        <thead>
            <tr>
                <th>Author</th>
                {% if sort == 'author__date_of_birth' %}
                    <th><div class="sort-up" onclick="submit_sort('-author__date_of_birth')">Birth of author</div></th>
{#                    <th><a class="sort-up" href="?sort=-author__date_of_birth">Birth of author</a></th>#}
                {% elif sort == '-author__date_of_birth' %}
                    <th><div class="sort-down" onclick="submit_sort('author__date_of_birth')">Birth of author</div></th>
{#                    <th><a class="sort-down" href="?sort=author__date_of_birth">Birth of author</a></th>#}
                {% else %}
                    <th><div onclick="submit_sort('author__date_of_birth')">Birth of author</div></th>
{#                    <th><a href="?sort=author__date_of_birth">Birth of author</a></th>#}
                {% endif %}
                {% if sort == 'year_of_writing' %}
                    <th><div class="sort-up" onclick="submit_sort('-year_of_writing')">Year of book</div></th>
{#                    <th><a class="sort-up" href="?sort=-year_of_writing">Year of book</a></th>#}
                {% elif sort == '-year_of_writing' %}
                    <th><div class="sort-down"  onclick="submit_sort('year_of_writing')">Year of book</div></th>
{#                    <th><a class="sort-down" href="?sort=year_of_writing">Year of book</a></th>#}
                {% else %}
                    <th><div onclick="submit_sort('year_of_writing')">Year of book</div></th>
{#                    <th><a href="?sort=year_of_writing">Year of book</a></th>#}
                {% endif %}
                <th>Book title</th>
            </tr>
        </thead>
        {% for book in books %}
            <tr>
                <td>{{ book.author.name_and_surname}}</td>
                <td>{{ book.author.date_of_birth }}</td>
                <td>{{ book.year_of_writing }}</td>
                <td>{{ book.name }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
{% endblock %}
